<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.secuso.privacyfriendlytodolist">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="org.secuso.privacyfriendlytodolist.view.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.secuso.privacyfriendlytodolist.tutorial.TutorialActivity" android:parentActivityName="view.MainActivity" android:theme="@style/AppTheme.NoActionBar">&gt;</activity>
        <activity android:label="@string/app_name" android:name="org.secuso.privacyfriendlytodolist.view.MainActivity" android:theme="@style/AppTheme.NoActionBar">&gt;</activity>
        <activity android:label="@string/about" android:name="org.secuso.privacyfriendlytodolist.view.AboutActivity"/>
        <activity android:label="@string/bin" android:name="org.secuso.privacyfriendlytodolist.view.RecyclerActivity"/>
        <activity android:label="@string/calendar" android:name="org.secuso.privacyfriendlytodolist.view.calendar.CalendarActivity"/>
        <activity android:label="@string/app_name" android:name="org.secuso.privacyfriendlytodolist.view.calendar.CalendarPopup"/>
        <activity android:label="@string/help" android:name="org.secuso.privacyfriendlytodolist.view.HelpActivity"/>
        <activity android:label="@string/settings" android:name="org.secuso.privacyfriendlytodolist.view.Settings"/>
        <service android:name="org.secuso.privacyfriendlytodolist.view.widget.ListViewWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name="org.secuso.privacyfriendlytodolist.model.ReminderService"/>
        <receiver android:name="org.secuso.privacyfriendlytodolist.model.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.secuso.privacyfriendlytodolist.view.widget.TodoListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/todo_list_widget_info"/>
        </receiver>
        <activity android:name="org.secuso.privacyfriendlytodolist.view.widget.TodoListWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
    </application>
</manifest>