aid,package,activity
a31,com.contextlogic.geek,com.contextlogic.wish.activity.login.LoginActivity
a32,com.contextlogic.wish,com.contextlogic.wish.activity.login.signin.SignInActivity
a33,com.rainbowshops,com.rainbowshops.activity.ProfileActivity
a34,com.etsy.android,com.etsy.android.ui.homescreen.HomescreenTabsActivity
a35,com.yelp.android,com.yelp.android.nearby.ui.ActivityNearby
