<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fsck.k9" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:description="@string/read_attachment_desc" android:label="@string/read_attachment_label" android:name="com.fsck.k9.permission.READ_ATTACHMENT" android:permissionGroup="android.permission-group.MESSAGES" android:protectionLevel="dangerous"/>
    <uses-permission android:name="com.fsck.k9.permission.READ_ATTACHMENT"/>
    <permission android:description="@string/remote_control_desc" android:label="@string/remote_control_label" android:name="com.fsck.k9.permission.REMOTE_CONTROL" android:permissionGroup="android.permission-group.MESSAGES" android:protectionLevel="dangerous"/>
    <uses-permission android:name="com.fsck.k9.permission.REMOTE_CONTROL"/>
    <permission android:description="@string/read_messages_desc" android:label="@string/read_messages_label" android:name="com.fsck.k9.permission.READ_MESSAGES" android:permissionGroup="android.permission-group.MESSAGES" android:protectionLevel="dangerous"/>
    <uses-permission android:name="com.fsck.k9.permission.READ_MESSAGES"/>
    <permission android:description="@string/delete_messages_desc" android:label="@string/delete_messages_label" android:name="com.fsck.k9.permission.DELETE_MESSAGES" android:permissionGroup="android.permission-group.MESSAGES" android:protectionLevel="dangerous"/>
    <uses-permission android:name="com.fsck.k9.permission.DELETE_MESSAGES"/>
    <application android:allowBackup="false" android:allowTaskReparenting="false" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.fsck.k9.K9" android:resizeableActivity="true" android:theme="@style/Theme.K9.Startup">
        <meta-data android:name="android.app.default_searchable" android:value="com.fsck.k9.activity.Search"/>
        <activity android:configChanges="locale" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.fsck.k9.activity.Accounts" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:excludeFromRecents="true" android:label="@string/prefs_title" android:name="com.fsck.k9.activity.setup.Prefs" android:taskAffinity="com.fsck.k9.activity.setup.Prefs"/>
        <activity android:configChanges="locale" android:label="@string/welcome_message_title" android:name="com.fsck.k9.activity.setup.WelcomeMessage"/>
        <activity android:configChanges="locale" android:name="com.fsck.k9.activity.setup.OpenPgpAppSelectDialog" android:theme="@style/Theme.K9.Transparent"/>
        <activity android:configChanges="locale" android:label="@string/font_size_settings_title" android:name="com.fsck.k9.activity.setup.FontSizeSettings"/>
        <activity android:configChanges="locale" android:label="@string/account_setup_basics_title" android:name="com.fsck.k9.activity.setup.AccountSetupBasics"/>
        <activity android:configChanges="locale" android:label="@string/account_setup_account_type_title" android:name="com.fsck.k9.activity.setup.AccountSetupAccountType"/>
        <activity android:configChanges="locale" android:label="@string/account_setup_incoming_title" android:name="com.fsck.k9.activity.setup.AccountSetupIncoming"/>
        <activity android:configChanges="locale" android:label="@string/account_settings_composition_title" android:name="com.fsck.k9.activity.setup.AccountSetupComposition"/>
        <activity android:configChanges="locale" android:label="@string/account_setup_outgoing_title" android:name="com.fsck.k9.activity.setup.AccountSetupOutgoing"/>
        <activity android:configChanges="locale" android:label="@string/account_setup_options_title" android:name="com.fsck.k9.activity.setup.AccountSetupOptions"/>
        <activity android:configChanges="locale" android:label="@string/account_setup_names_title" android:name="com.fsck.k9.activity.setup.AccountSetupNames"/>
        <activity android:configChanges="locale" android:label="@string/choose_account_title" android:name="com.fsck.k9.activity.ChooseAccount" android:noHistory="true" android:theme="@style/Theme.K9Dialog"/>
        <activity android:configChanges="locale" android:label="@string/choose_folder_title" android:name="com.fsck.k9.activity.ChooseFolder" android:noHistory="true" android:theme="@style/Theme.K9Dialog"/>
        <activity android:configChanges="locale" android:label="@string/choose_identity_title" android:name="com.fsck.k9.activity.ChooseIdentity" android:theme="@style/Theme.K9Dialog"/>
        <activity android:configChanges="locale" android:label="@string/manage_identities_title" android:name="com.fsck.k9.activity.ManageIdentities"/>
        <activity android:configChanges="locale" android:label="@string/edit_identity_title" android:name="com.fsck.k9.activity.EditIdentity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.fsck.k9.activity.NotificationDeleteConfirmation" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|locale|orientation" android:label="@string/account_setup_check_settings_title" android:name="com.fsck.k9.activity.setup.AccountSetupCheckSettings"/>
        <activity android:configChanges="locale" android:label="@string/account_settings_title_fmt" android:name="com.fsck.k9.activity.setup.AccountSettings"/>
        <activity android:configChanges="locale" android:label="@string/folder_settings_title" android:name="com.fsck.k9.activity.setup.FolderSettings" android:theme="@android:style/Theme.Dialog"/>
        <activity android:configChanges="locale" android:name="com.fsck.k9.activity.FolderList" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:launchMode="singleTop" android:name="com.fsck.k9.activity.MessageList" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="messages" android:scheme="email"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:enabled="false" android:label="@string/app_name" android:name="com.fsck.k9.activity.MessageCompose">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <data android:scheme="mailto"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="mailto"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.autocrypt.PEER_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:label="@string/search_action" android:name="com.fsck.k9.activity.Search" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:configChanges="locale" android:label="@string/shortcuts_title" android:name="com.fsck.k9.activity.LauncherShortcuts">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:name="com.fsck.k9.activity.EmailAddressList"/>
        <activity android:name="com.fsck.k9.activity.UnreadWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/upgrade_databases_title" android:name="com.fsck.k9.activity.UpgradeDatabases"/>
        <receiver android:enabled="true" android:name="com.fsck.k9.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name="com.fsck.k9.service.RemoteControlReceiver" android:permission="com.fsck.k9.permission.REMOTE_CONTROL">
            <intent-filter>
                <action android:name="com.fsck.k9.K9RemoteControl.set"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.fsck.k9.K9RemoteControl.requestAccounts"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.fsck.k9.service.CoreReceiver"/>
        <receiver android:enabled="true" android:name="com.fsck.k9.service.StorageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <receiver android:icon="@drawable/icon" android:label="@string/unread_widget_label" android:name="com.fsck.k9.provider.UnreadWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/unread_widget_info"/>
        </receiver>
        <receiver android:icon="@drawable/message_list_widget_preview" android:label="@string/mail_list_widget_text" android:name="com.fsck.k9.widget.list.MessageListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/message_list_widget_info"/>
        </receiver>
        <service android:enabled="true" android:name="com.fsck.k9.widget.list.MessageListWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:enabled="true" android:name="com.fsck.k9.service.MailService"/>
        <service android:enabled="true" android:name="com.fsck.k9.notification.NotificationActionService"/>
        <service android:enabled="true" android:name="com.fsck.k9.service.PushService"/>
        <service android:enabled="true" android:name="com.fsck.k9.service.PollService"/>
        <service android:enabled="true" android:name="com.fsck.k9.service.RemoteControlService" android:permission="com.fsck.k9.permission.REMOTE_CONTROL"/>
        <service android:enabled="true" android:name="com.fsck.k9.service.SleepService"/>
        <service android:exported="false" android:name="com.fsck.k9.service.DatabaseUpgradeService"/>
        <provider android:authorities="com.fsck.k9.attachmentprovider" android:exported="true" android:grantUriPermissions="true" android:multiprocess="true" android:name="com.fsck.k9.provider.AttachmentProvider" android:readPermission="com.fsck.k9.permission.READ_ATTACHMENT">
            <meta-data android:name="de.cketti.safecontentresolver.ALLOW_INTERNAL_ACCESS" android:value="true"/>
        </provider>
        <provider android:authorities="com.fsck.k9.messageprovider" android:exported="true" android:grantUriPermissions="true" android:multiprocess="true" android:name="com.fsck.k9.provider.MessageProvider" android:readPermission="com.fsck.k9.permission.READ_MESSAGES" android:writePermission="com.fsck.k9.permission.DELETE_MESSAGES"/>
        <provider android:authorities="com.fsck.k9.provider.email" android:exported="false" android:name="com.fsck.k9.provider.EmailProvider"/>
        <provider android:authorities="com.fsck.k9.decryptedfileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.fsck.k9.provider.DecryptedFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/decrypted_file_provider_paths"/>
        </provider>
        <provider android:authorities="com.fsck.k9.tempfileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.fsck.k9.provider.AttachmentTempFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/temp_file_provider_paths"/>
        </provider>
    </application>
</manifest>