aid,package,activity
a11,acr.browser.lightning,acr.browser.lightning.MainActivity
a12,com.android.browser,com.android.browser.BrowserActivity
a13,com.stoutner.privacybrowser.standard,com.stoutner.privacybrowser.activities.MainWebViewActivity
a14,de.baumann.browser,de.baumann.browser.Activity.BrowserActivity
a15,org.mozilla.focus,org.mozilla.focus.activity.MainActivity