aid,package,activity
a21,com.rubenroy.minimaltodo,com.rubenroy.minimaltodo.MainActivity
a22,douzifly.list,douzifly.list.ui.home.MainActivity
a23,org.secuso.privacyfriendlytodolist,org.secuso.privacyfriendlytodolist.view.MainActivity
a24,kdk.android.simplydo,kdk.android.simplydo.SimplyDoActivity
a25,com.woefe.shoppinglist,com.woefe.shoppinglist.activity.MainActivity