aid,package,activity
a41,com.fsck.k9,com.fsck.k9.activity.Accounts
a42,com.appple.app.email,com.fsck.k9.activity.Accounts
a43,ru.mail.mailapp,ru.mail.mailapp.SplashScreenActivity
a44,com.my.mail,ru.mail.mailapp.SplashScreenActivity
a45,park.outlook.sign.in.client,ru.mail.mailapp.SplashScreenActivity