aid,package,activity
a51,anti.tip,anti.tip.Tip
a52,com.appsbyvir.tipcalculator,com.appsbyvir.tipcalculator.MainActivity
a53,com.tleapps.simpletipcalculator,com.tleapps.simpletipcalculator.MainActivity
a54,com.zaidisoft.teninone,com.zaidisoft.teninone.Calculator
a55,com.jpstudiosonline.tipcalculator,com.jpstudiosonline.tipcalculator.MainActivity